<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Todo Login</title>
    <!-- .cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
}    -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body{
        font-family: "Prosto One", cursive;
      }
      .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      }
      .nav-items {
        display: flex;
        flex: row;
      }
      .nav-name {
        font-size: 2rem;
      }
      .nav-items form {
        padding-left: 2rem;
        font-size: 1rem;
      }
      .register{
        width: 100%;
        background-color: rgb(79, 26, 129, 0.815);
        color: white;
        border-radius: 10px;
        padding: 0.8rem;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
      .register:hover {
        background-color: rgb(105, 21, 185);
        color: rgb(44, 28, 28);
      }
      .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10%;
        margin-left: 25%;
        background-color: rgba(128, 128, 128, 0.635);
        width: 50%;
        height: 50vh;
        padding: 2rem;
        border-radius: 10px;
      }
      .container-img{
        margin-right: 3rem;
      }
      .login-form{
        padding: 1rem;
        margin: 1rem;
      }
      input{
        width: 100%;
        font-size: 1rem;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
        border: none;
        background: transparent;
        border-bottom: 1px solid black;
      }
      input:focus{
        outline: none;
      }
      label{
        font-size: 1.3rem;
      }
      button {
        width: 100%;
        background-color: rgb(31, 29, 29);
        border-radius: 10px;
        color: white;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
        font-family: "Prosto One", cursive;
        transition: 0.3s ease-in-out;
      }
      button:hover{
        background-color: rgb(243, 185, 185);
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <div class="navbar">
          <div class="nav-name">Todo App</div>
          <div class="nav-items">
            <form action="/">
              <button class="register">Home</button>
            </form>
            <form action="/register">
              <button class="register">Register Now</button>
            </form>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="container-img">
          <img src="https://media.tenor.com/J2RiuyvQgdEAAAAj/to-do-list-checklist.gif">
        </div>
        <div class="login-form">
          <form action="/login" method="POST">
            <label for="email"">Enter Email Id: </label>
            <input type="text" name="email" placeholder="Enter Registerd email">
            <br>
            <label for="password">Enter Password: </label>
            <input type="password" name="password" placeholder="Enter your Password">
            <br>
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
